<template>
    <div class="d-flex">
        <i @click="$emit('input', star)" v-for="star in fullStars" :key="'full' + star" class="fas fa-star"></i>
        <i v-if="halfStar" class="fas fa-star fa-star-half-alt"></i>
        <i @click="$emit('input', fullStars + star)" v-for="star in emptyStars" :key="'empty' + star" class="far fa-star"></i>
    </div>
</template>

<script>
export default {
    props: {
        value: Number
    },
    computed: {
        halfStar() {
            const fraction = Math.round(this.value - Math.floor(this.value) * 100);
            return fraction > 0 && fraction < 50;
        },
        fullStars() {
            return Math.round(this.value);
        },
        emptyStars() {
            return 5 - Math.ceil(this.value);
        }
    },
}
</script>