<template>
    <div>
        <h6 class="text-uppercase text-secondary font-weight-bolder">
            Check Availability
            <transition name="fade">
                <span v-if="hasAvailability" class="text-success">Available</span>
                <span v-if="noAvailability" class="text-danger">Not Availabile</span>
            </transition>
        </h6>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="from">From</label>
                <input :class="[{'is-invalid': errorFor('from')}]" @keyup.enter="check" v-model="from" type="text" name="from" class="form-control form-control-sm" placeholder="Start date" />
                <validation-errors :errors="errorFor('from')"></validation-errors>
            </div>

            <div class="form-group col-md-6">
                <label for="to">To</label>
                <input :class="[{'is-invalid': errorFor('to')}]" @keyup.enter="check" v-model="to" type="text" name="to" class="form-control form-control-sm" placeholder="End date" />
                <validation-errors :errors="errorFor('to')"></validation-errors>
            </div>
        </div>

        <button :disabled="loading" @click="check" class="btn btn-secondary btn-block">
            <span v-if="!loading">Check!</span>
            <span v-if="loading"><i class="fas fa-circle-notch fa-spin"></i>&nbsp;Checking...</span>
        </button>
    </div>
</template>

<script>
import {is422} from "./../shared/utils/response"
import validationErrors from "./../shared/mixins/validationErrors"

export default {
    mixins: [validationErrors],
    props: {
        bookableId: [String, Number]
    },
    data() {
        return {
            from: this.$store.state.lastSearch.from,
            to: this.$store.state.lastSearch.to,
            loading: false,
            status: null,
        }
    },
    methods: {
        async check() {
            this.loading = true;
            this.errors = null;

            this.$store.dispatch('setLastSearch', {
                from: this.from,
                to: this.to
            });

            try {
                this.status = (await axios.get(`/api/bookables/${this.bookableId}/availability?from=${this.from}&to=${this.to}`)).status;
                this.$emit('availability', this.hasAvailability);
            } catch (err) {
                if(is422(err)) {
                    this.errors = err.response.data.errors;
                }
                this.status = err.response.status;
                this.$emit('availability', this.hasAvailability);
            }

            this.loading = false;
        }
    },
    computed: {
        hasErrors() {
            return 422 === this.status && this.errors !== null;
        },
        hasAvailability() {
            return 200 === this.status;
        },
        noAvailability() {
            return 404 === this.status;
        }
    }
}
</script>

<style scoped>
    label {
        font-size: 0.7rem;
        text-transform: uppercase;
        color: gray;
        font-weight: bolder;
    }

    .is-invalid {
        border-color: #b22222;
        background-image: none;
    }
    
    .invalid-feedback {
        color: #b22222;
    }
</style>