<template>
    <div class="w-50 m-auto align-items-center d-flex">
        <div class="card card-body">
            <form >
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input :class="[{'is-invalid': errorFor('email')}]" type="text" name="email" placeholder="Enter your e-mail" class="form-control" v-model="email">
                    <validation-errors :errors="errorFor('email')"></validation-errors>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input :class="[{'is-invalid': errorFor('password')}]" type="password" name="password" placeholder="Enter your password" class="form-control" v-model="password">
                    <validation-errors :errors="errorFor('password')"></validation-errors>
                </div>

                <button class="btn btn-lg btn-block btn-primary" type="submit" :disabled="loading" @click.prevent="login">Login</button>

                <hr>

                <div class="text-nowrap">
                    No account yet?
                    <router-link :to="{name: 'home'}" class="font-weight-bold">Register</router-link>
                </div>

                <div class="text-nowrap">
                    Forgotten password?
                    <router-link :to="{name: 'home'}" class="font-weight-bold">Reset password</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import validationErrors from '../shared/mixins/validationErrors'
import { logIn, logOut } from '../shared/utils/auth'

export default {
    mixins: [validationErrors],
    data() {
        return {
            email: null,
            password: null,
            loading: false,
        }
    },
    methods: {
        async login() {
            this.loading = true;
            this.errors = null;

            try {
                await axios.get(`/sanctum/csrf-cookie`);
                await axios.post("/login", {
                    email: this.email,
                    password: this.password
                });

                logIn();
                this.$store.dispatch('loadUser');
                this.$router.push({name: 'home'});
            } catch (err) {
                this.errors = err.response && err.response.data.errors;
            }

            this.loading = false;
        }
    }
}
</script>